.overlay {
    width: 100%;
    height: 100%;
}



button.primary {
    color: white !important;
    background-color: green !important;
}
button.success {
    color: white !important;
    background-color: rgb(241, 18, 174) !important;
}
button.accent {
    color: white !important;
    background-color: rgb(61, 16, 124) !important;
}

/* 
::ng-deep .alert-success {
    background-color: #dff0d8 !important; 
    border-color:#d0e9c6 !important;
    color:#3c763d !important;
 } */